.title {
    width: 100%;
    height: 20vh;
    border: 1px solid black;
}

.menu__bar {
    width: 100%;
    height: 8vh;
    border: 1px solid red;
}

.wrap__content {
    width: 100%;
    height: 100vh;
    border: 1px solid pink;

    display: flex;
}

.side__content {
    width: 22%;
    height: 70%;
    margin-left: 5%;
    border: 1px solid skyblue;
}

.content {
    width: 62%;
    height: 100%;
    margin-right: 5%;
    margin-left: 2%;
    border: 1px solid blue;
}
